<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class="flex-fill">adsd</div>
<footer th:fragment="footer" class="footer">
    <div class="container-fluid" >
        <hr>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xs-12 about-company">
                    <h4 class="mt-lg-0 mt-sm-4">О компании</h4>
                    <p class="pr-5 text-black">Rumus – музыкальный сервис</p>
                    <br>
                    <p class=""><small class="text-black-50">© 2024. All Rights Reserved.</small></p>
                </div>
                <div class="col-lg-3 col-xs-12 links">
                    <h4 class="mt-lg-0 mt-sm-4">Ссылки</h4>
                    <a class="link-secondary p-0" href="/public/welcome">Главная</a>
                    <br>
                    <a class="link-secondary p-0" href="/public/news">Новости</a>
                    <br>
                    <a class="link-secondary p-0" href="/public/about">О нас</a>
                </div>
                <div class="col-lg-3 col-xs-12 location">
                    <h4 class="mt-lg-0 mt-sm-4">Адрес и контакты</h4>
                    г. Рязань, РГРТУ, общежитие 5
                    <br>
                    svyatoslav.wot@gmail.com
                    <br>
                    svyatoslav.wot@gmail.com
                </div>
            </div>
        </div>



    </div>
</footer>
</body>
</html>