<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <title th:text="${client.name}">UserPage</title>
</head>
<body class="d-flex flex-column min-vh-100">

<div class="container-flow" th:insert="~{templs/nav::nav}"></div>

<main class="container flex-fill mt-5">
<!--    Информация о пользователе-->
    <div class="row mt-5">
        <h1 th:text="${client.getName()}">Имя пользователя</h1>
    </div>

    <div class="row mt-5">

        <div class="col-md-4">
            <h2>Треки</h2>
            <ol class="list-group list-group-flush list-group-numbered">
                <li th:each="track : ${tracks}" class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto link-secondary">
                        <a class="stretched-link" th:href="@{/track/{id}(id=${track.getId()})}"></a>
                        <div th:text="${track.getTitle()}" class="fw-bold">Название трека</div>
                        <span th:text="${track.getAlbum()}">Альбом</span>
                    </div>
                    <span th:text="${track.getLength()}" class="badge bg-primary rounded-pill">Длительность</span>
                </li>
            </ol>
        </div>

        <div class="col-md-4">
            <h2>Альбомы</h2>
            <ol class="list-group list-group-flush list-group-numbered">
                <li th:each="album : ${albums}" class="list-group-item d-flex justify-content-between align-items-start">

                    <div class="ms-2 me-auto link-secondary">
                        <a class="stretched-link" th:href="@{/playlist/{id}(id=${album.getId()})}"></a>
                        <div th:text="${album.getTitle()}"  class="fw-bold">Название альбома (плейлиста)</div>
                        <span th:text="${album.getPlaylistType().getName()}">Тип</span>

                    </div>
                    <span th:text="${album.getSize()}" class="badge bg-primary rounded-pill">Размер</span>

                </li>
            </ol>
        </div>

        <div class="col-md-4">
            <h2>Плейлисты</h2>
            <ol class="list-group list-group-flush list-group-numbered">
                <li th:each="playlist : ${playlists}" class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto link-secondary">
                        <a class="stretched-link" th:href="@{/playlist/{id}(id=${playlist.getId()})}"></a>
                        <div th:text="${playlist.getTitle()}" class="fw-bold">Название плейлиста</div>
                        <span th:text="${playlist.getPlaylistType().getName()}">Тип</span>
                    </div>
                    <span th:text="${playlist.getSize()}" class="badge bg-primary rounded-pill">Размер 1</span>
                </li>
            </ol>
        </div>
    </div>

</main>

<div class="container-flow" th:insert="~{templs/footer::footer}"></div>

</body>
</html>